.view-table-details td {
    padding: 3px !important;
    border: none;
}

.view-table td{
    padding: 3px !important;
}

.view-table-details th {
    border: 2px solid grey !important;
}

.view-table-details {
    border: 2px solid #95999c;
}

.select2-container .select2-choice, .select2-result-label {
    font-size: 1.5em;
    height: 100px !important;
    overflow: auto;
}

.select2-arrow, .select2-chosen {
    padding-top: 6px;
}

.card-head {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.search-input {
    margin-left: 25px
}

.edit-profile a {
    text-decoration: none;
    color: white;
}
