.invoice {
    font-family: 'Poppins',sans-serif!important;
    border: 1px solid grey;
    margin: 20px 20px 0 20px;
    /*width: 1092px;*/
    width: 97%;
}
.report {
    font-family: 'Poppins',sans-serif!important;
    border: 1px solid grey;
    margin: 20px 20px 0 20px;
    /*width: 1092px;*/
    width: 97%;
}
.header, .patient-details, .summary, .test-results{
    margin: 30px;
}
.logo-section{
    height: 100px;
}
.patient-details{
    font-size: 14px;
}
.test-table td, .test-results-table td{
    border: none!important;
    padding: 4px 12px!important;
    font-size: 14px;
}
.test-name{
    width: 35%;
}

.test-result{
    width: 22%;
}

.test-units{
    width: 15%;
}

.test-flag{
    width: 5%;
}

.test-reference{
    width: 24%;
}

.signature{
    width: 40%;
    text-align: center;
}

/*.test-tr>td{*/
/*    font-size: 17px;*/
/*}*/

/**================Print CSS ==============*/

@media print{
	body {
		-webkit-print-color-adjust: exact;
	}	
}
